<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('main_about') }}" title="Home">About</a></li>
        <li><a href="{{ path('wish_list') }}" title="Home">Wishlist</a></li>
    </ul>
</nav>